<ion-view view-title="{{ title | translate }}">
  <ion-content class="padding">
    <ion-nav-buttons side="right">
      <a class="button button-clear" nav-clear>Start</a>
    </ion-nav-buttons>
    <ion-slide-box does-continue="true">
      <ion-slide class="padding" ng-repeat="slide in slides">
        <div class="padding" ng-show="slide.desc" class="item-text-wrap">
          <p>{{slide.desc}} </p>
        </div>
        <div class="padding item-body">
          <img class="full-image" ng-src="{{slide.image}}">
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
