<ion-view view-title="{{ title | translate }}">
  <ion-content class="padding">
    <ion-nav-buttons side="right">
      <a class="button button-clear" href="{{goTo}}" nav-clear>Start</a>
    </ion-nav-buttons>
    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="slide in slides">
        <div class="list card">
          <div class="item item-divider">
            <h3>{{slide.title}} </h3>
          </div>
          <div class="item item-body">
            <img class="full-image" ng-src="{{slide.image}}">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
